@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --link-color: #6198e0;
  --link-hover-color: #1a73e8;
  --link-hover-bgcolor: #f0f4ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
